
body{
    background-image: url(../image/MainBack.png);
    background-repeat: repeat;
}

.main
{
    width: 1000px;
    height: 565px;
    margin: 40px auto 2px;
}

.main .menu{
    float: left;
    width: 30%;
}

.main .main_part
{
    margin-bottom: 30px;
    min-height: 80%;
    float: left;

    color: #777777;
    width: 70%;

    padding-bottom: 25px;
    border:1px solid #96C2F1;
    /*background-color:#EFF7FF;*/
}

.main .main_part .main_part_top
{
    width: 100%;
    height: 70px;
}

.main .main_part .main_part_top .kj
{
    font-size: 22px;
    font-weight: 300;

    float: left;

    width: 60%;
    margin: 20px 0 20px 20px;

    color: #1687d9;
}

.main .main_part .main_part_top .more
{
    float: right;

    margin: 13px 20px 13px 0;

    letter-spacing: -0.2px;

    color: #4d4d4d;
}

.main .main_part .main_part_nav
{
    margin: 0 0 0 23px;
}

.main .main_part .main_part_nav ul
{
    float: left;
}

.main .main_part .main_part_nav ul li
{
    font-size: 14px;
}

.main .main_part .main_part_nav ul li:first-child
{
    margin-top: 0;
}

.main .main_part .main_part_nav ul li a
{
    color: #4d4d4d;
    text-decoration: none;
}

.main .main_part .main_part_nav ul li a:hover
{
    color: lightgray;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.zzz{
    margin: 10px 0;
}

.half{
    margin: 0 auto;
    width: 50%;
}

.nav>.half>.active>a{
    background: #4098e5;
}

.nav>.half>.active>a:hover{
    background: #4098e5;
}

.main .main_part .main_part_nav ul ul table li tr td a
{
    color: #4d4d4d;
    text-decoration: none;
}

.main .main_part .main_part_nav ul ul table li tr td a:hover
{
    color: lightgray;
    text-decoration: none;
}

.all{
    width: 100%;
}

.files{
    width: 100%;
}

.files li a:nth-child(n+1){
    margin: 0 10px;
    text-decoration: none;
}

.files li a:nth-child(1){
    margin-right: 70%;
    text-decoration: none;
}

.footer
{
    float: left;

    width: 100%;
    height: 125px;

    color: #ffffff;
    background: #001e36;
}

.footer p
{
    margin: 0;

    font-weight: lighter;

    padding-top: 5px;

    text-align: center;
}